@{
	ViewData["Title"] = "Home Page";
}

<div class="text-center">
	<h1 class="display-4">Welcome</h1>
	<p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
	<ul id="1">
	</ul>
@section Scripts {
	<script>
		const emps = [{ "name": "Tom", "workYears": 3, "salary": 35000 },
		{ "name": "Jack", "workYears": 5, "salary": 40000 },
		{ "name": "Mary", "workYears": 7, "salary": 45000 }];


		let ul = document.getElementById('1')

		// emps.forEach(emp => {
		// 	let template = `<li>${emp.name},${emp.workYears},${emp.salary}</li>`;
		// 	ul.innerHTML += template;
		// 	//ul.appendChild(template);
		// });

		const htmlEmps = emps.map(emp => {
			const { name, workYears, salary } = emp
			return (`<li>${name},${workYears},${salary}</li>`)
		} );
		ul.innerHTML = htmlEmps.join('');


		//建立Promise
		// function show(data) {
		// 	const promise = new Promise((resolve, reject) => {
		// 		setTimeout(() => { resolve(data) }, 1000)
		// 	});
		// 	return promise;
		// }

		// (async () => {
		// 	let data = await show("A");
		// 	console.log(data);
		// 	data = await show("B");
		// 	console.log(data);
		// 	data = await show("C");
		// 	console.log(data);
		// })();


		//使用Promise
		// console.log(show("A"));
		// show("A")
		// 	.then((data) => {
		// 		console.log(data)
		// 		return show("B")
		// 	})
		// 	.then((data) => {
		// 		console.log(data)
		// 		return show("C")
		// 	})
		// 	.then((data) => {
		// 		console.log(data)
		// 	});


		// //建立一個Promise物件
		// const promise = new Promise((resolve,reject) => {
		//    //非同步程式碼
		//     const num = Math.random() > 0.5 ? 1 : 0;

		//     if (num) {
		//         resolve("成功 > 0.5");
		//     } else {
		//         reject("失敗 < 0.5")
		//     }
		// });

		//使用 Promise
		// promise
		// 	.then((data) => {
		// 		console.log(data);
		// 	})
		// 	.catch((err) => {
		// 		console.log(err);
		// 	})
		// 	.finally(() => {
		// 		console.log("END");
		// 	})
	</script>
}